/* Default styles for all devices */
.navbtn {
    width: 100px;
    height: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Styles for desktop users */
@media only screen and (min-width: 992px) {
    .navbtn {
        display: inline-block;
        background-color: red;
    }
}

/* Styles for tablet users */
@media only screen and (min-width: 576px) and (max-width: 991px) {
    .navbtn {
        display: inline-block;
        width: calc(50% - 10px);
        margin-right: 10px;
        background-color: blue;
    }
    .navbtn:nth-child(2n) {
        margin-right: 0;
    }
}

/* Styles for phone users */
@media only screen and (max-width: 575px) {
    .navbtn {
        display: block;
        background-color: green;
    }
}