body {
    font-family: 'Roboto', sans-serif;
}

.temperatures {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

.high, .low {
    font-size: 1.5rem;
    font-weight: 900;
}

.high::after, .low::after {
    content: "°";
}

.high {
    color: #cf2a27;
}

.low {
    color: #2b78e4;
}
