*
{
    margin : 0;
    padding : 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C1C1C1;
    padding: 10px;
    width:950px;
  margin-left: 150px;
  }
  
  h1 {
    margin: 0;
   
  }
  
  .search {
    flex: 0.75;
    margin: 0 10px;
    padding: 5px;
  }
  
  .button1 {
    background-color: #2B78E4;
    color: #fff;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    box-shadow: 5px 5px black;
  
  }
  *
{
    margin : 0;
    padding : 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C1C1C1;
    padding: 10px;
    width:950px;
  margin-left: 150px;
  }
  
  h1 {
    margin: 0;
   
  }
  
  .search {
    flex: 0.75;
    margin: 0 10px;
    padding: 5px;
  }
  
  .button1 {
    background-color: #2B78E4;
    color: #fff;
    border: none;
    padding: 15px 50px;
    cursor: pointer;
    box-shadow: 5px 5px black;
  
  }

.button2
{
  background-color:rgb(255,217,102);
    box-shadow: 5px 5px black;
  font-size: 20px;
  
}
  span
{
  color : blue;
  text-decoration :  underline;
}
main
{
  display:flex;
  width:950px;
  margin-left: 150px;

    align-items: center;
  justify-content:space-between;
  margin-top : 30px;
  

} 
section 
{
  border : solid 2px black;
  padding : 7px;
  display:flex;
  margin : 0 0 20px 0;
  font-weight :bold;
}
.you
{
  font-size : 35px;
  text-decoration : none;
  color:black;
  font-weight: bold;
}

aside
{
  border : solid 2px black;
  padding : 30px;
  align-self : flex-start;
  font-weight: bold;
  font-size : 22px;
  font-family : sans-serif;
  display : flex;
  flex-direction: column;
  
}
#definition
{
    background-color:#93C47D;
    padding : 10px;
    box-shadow: 5px 5px black;
font-weight : bold;
}