.row
{
    display:flex;
    
}
.col
{
    flex:1;
    margin : 10px;
    background-color: aqua;
}

.col-2
{
    flex:2;
    margin : 10px;
    background-color: aqua;
}
.col-3
{
    flex:3;
    margin : 10px;
    background-color: aqua;  
}